@import "shared/ui/styles";

.cards-list {
  width: 1000px;

  margin: 0 auto;
  margin-top: 144px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 80px;
  margin-bottom: 40px;

  @include breakpoint(l) {
    width: 100%;
    max-width: 600px;
    gap: 40px;
    margin-top: 64px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(m) {
    gap: 20px;
  }
}
