@import "shared/ui/styles";

.card {
  box-sizing: border-box;
  width: 385px;
  height: 384px;
  border-radius: 10px;
  background-color: $color-white;
  padding: 27px 27px 13px 27px;

  @include breakpoint(xl) {
    &:last-child {
      display: none;
    }
  }

  @include breakpoint(l) {
    &:last-child {
      display: none;
    }
  }

  @include breakpoint(m) {
    height: auto;
  }

  @include breakpoint(s) {
    padding: 10px;
  }

  &__img-container {
    position: relative;
  }

  &__text {
    height: 40px;
    @include ralewayFont_17px;

    color: $color-black-dark;

    overflow: hidden;
    margin-top: 19px;

    @include breakpoint(xl) {
      margin-top: 10px;
    }

    @include breakpoint(s) {
      font-size: 12px;
      line-height: 16px;
      margin-top: 5px;
    }
  }

  &__btn {
    width: 107px;
    height: 34px;
    position: absolute;

    top: 17px;
    right: 17px;

    @include buttonPrimary(3px);

    @include ralewayFont_11px;
  }
}
