@import "shared/ui/styles";

.form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__btn {
    width: 100px;
    height: 45px;

    @include buttonPrimary($border-radius-default);
  }
}
