@import 'shared/ui/styles';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &__btn {
        width: 100px;
        height: 45px;
        
        @include buttonPrimary($border-radius-default)
    }
}

