@import "shared/ui/styles";
.search {
  margin-top: 64px;

  &__title {
    @include poppinsFont_40px;

    text-align: center;
  }

  &__subtitle {
    @include poppinsFont_15px;
    margin-bottom: 41px;
  }
}
