@import "shared/ui/styles";

.dropdown {
  width: 100%;
  position: relative;
  cursor: pointer;

  &__header {
    width: 120px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 7px;

    @include poppinsFont_12px;
   
    color: $color-grey-dark;
    text-transform: capitalize;

    @include breakpoint(m) {
      width: 100px;
    }
  }

  &__name {
    max-width: fit-content;
    overflow: hidden;
  }

  &__content {
    width: calc(100% - 45px);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;

    background-color: $color-white;
  }
}
