@import 'shared/ui/styles';

.input {
    min-width: 340px;
    width: 100%;
    box-sizing: border-box;

    height: 50px;
    gap: 0px;
    border-radius: $border-radius-default;
    background-color: $color-white;
}

.container {
    position: relative;
}

.error {
    position: absolute;
    top: 55px;
    color: $color-red;
    font-size: 12px;
}