@import 'shared/ui/styles';

.btn {
    width: 130px;
    height: 130px;
    background-color: $color-white;

    border-radius: 50%;
    border: 27px solid $color-grey-normal;

    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    z-index: 10;

    @include breakpoint(m) {
        width: 100px;
        height: 100px;
    }
}

.play-icon {
    padding-left: 5px;
}