@import 'shared/ui/styles';


.quick-booking {
    width: 100%;
    height: 120px;
    background-color: $color-white;
    padding: 0 40px;
    display: flex;
    align-items: center;
    margin-top: 60px;

    &__dropdowns-container {
        height: 65px;
        display: flex;
        align-items: center;
        gap: 90px;
    }

    &__btn {
        width: 180px;
        height: 65px;
       
        @include buttonPrimary($border-radius-default)
    }
}