@import 'shared/ui/styles';

.decor-skeleton {
    display: flex;
    gap: 61px;
    margin-bottom: 258px;
    margin-top: 140px;
}

.image-skeleton {
    @include skeleton(381px, 480px);
    border: 10px;
}

