$color-white: rgba(255, 255, 255, 1);

$color-brown: rgba(124, 106, 70, 1);

$color-grey-light: rgba(250, 250, 250, 1);
$color-grey-normal: rgba(245, 245, 245, 1);
$color-grey-dark: rgba(28, 28, 28, 0.6);
$color-grey-font: rgba(69, 69, 69, 1);
$color-black-normal: rgba(28, 28, 28, 1);
$color-black-dark: rgba(0, 0, 0, 1);
