@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins/poppins-light.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/poppins/poppins-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../fonts/poppins/poppins-bold.ttf");
}

@font-face {
  font-family: "DancingScript";
  font-weight: 600;
  src: url("../fonts/dancing-script/dancing-script-semi-bold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway/raleway-semi-bold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../fonts/raleway/raleway-medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../fonts/inter/inter-medium.ttf");
}

@font-face {
  font-family: "Mulish";
  font-weight: 600;
  src: url("../fonts/mulish/mulish-semi-bold.ttf");
}

@font-face {
  font-family: "Mulish";
  font-weight: 800;
  src: url("../fonts/mulish/mulish-extra-bold.ttf");
}

$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-inter: "Inter", sans-serif;
$font-mulish: "Mulish", sans-serif;
$font-dancing-script: "DancingScript", sans-serif;
