@mixin poppinsFont_42px {
  font-family: $font-poppins;
  font-size: 42px;
  font-weight: 300;
  line-height: 63px;
}

@mixin poppinsFont_40px {
  font-family: $font-poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

@mixin poppinsFont_24px {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

@mixin poppinsFont_24px {
  font-family: $font-poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

@mixin poppinsFont_20px {
  font-family: $font-poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

@mixin poppinsFont_16px {
  font-family: $font-poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}

@mixin poppinsFont_15px {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
}

@mixin poppinsFont_14px {
  font-family: $font-poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}

@mixin poppinsFont_13px {
  font-family: $font-poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: 19.5px;
}

@mixin poppinsFont_12px {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

@mixin ralewayFont_50px {
  font-family: $font-raleway;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.7px;
}

@mixin ralewayFont_17px {
  font-family: $font-raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 19.96px;
}

@mixin ralewayFont_15px($weight: 500) {
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: $weight;
  line-height: 17.61px;
}

@mixin ralewayFont_14px {
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
}

@mixin ralewayFont_11px {
  font-family: $font-raleway;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.91px;
}

@mixin interFont_24px {
  font-family: $font-inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

@mixin interFont_20px {
  font-family: $font-inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}

@mixin interFont_16px {
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@mixin mulishFont_25px {
  font-family: $font-mulish;
  font-size: 25px;
  font-weight: 600;
  line-height: 31.38px;
}

@mixin mulishFont_20px {
  font-family: $font-mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.1px;
}

@mixin mulishFont_12px {
  font-family: $font-mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
}

@mixin dancingScriptFont_50px {
  font-family: $font-dancing-script;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

@mixin dancingScriptFont_30px {
  font-family: $font-dancing-script;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
