@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('../fonts/Poppins/Poppins-medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'DancingScript';
    font-weight: 600;
    src: url('../fonts/DancingScript/DancingScript-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 600;
    src: url('../fonts/Mulish/Mulish-SemiBold.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 800;
    src: url('../fonts/Mulish/Mulish-ExtraBold.ttf');
}

$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-mulish: 'Mulish', sans-serif;
$font-dancing-script: 'DancingScript', sans-serif;