@mixin poppinsFont_42px {
  font-family: $font-poppins;
  font-size: 42px;
  font-weight: 300;
  line-height: 63px;
}

@mixin poppinsFont_40px {
  font-family: $font-poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

@mixin poppinsFont_24px {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

@mixin poppinsFont_24px {
  font-family: $font-poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

@mixin poppinsFont_20px {
  font-family: $font-poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

@mixin poppinsFont_16px {
  font-family: $font-poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}

@mixin poppinsFont_15px {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
}

@mixin poppinsFont_14px {
  font-family: $font-poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}

@mixin poppinsFont_13px {
  font-family: $font-poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: 19.5px;
}

@mixin poppinsFont_12px {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

@mixin ralewayFont_50px {
  font-family: $font-raleway;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.7px;
}

@mixin ralewayFont_17px {
  font-family: $font-raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 19.96px;
}

@mixin ralewayFont_15px($weight: 500) {
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: $weight;
  line-height: 17.61px;
}

@mixin ralewayFont_14px {
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
}

@mixin ralewayFont_11px {
  font-family: $font-raleway;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.91px;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin transition-default {
  transition: all 0.3s ease-in;
}

@mixin buttonHover {
  @include transition-default;
  opacity: 0.8;
}

@mixin buttonPrimary($borderRadius: 0) {
  background-color: $color-brown;
  border-radius: $borderRadius;
  color: $color-white;

  &:hover {
    @include buttonHover;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@mixin skeleton($width, $height) {
  width: $width;
  height: $height;
  background-color: $color-grey-light;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($color-white, 0) 0,
      rgba($color-white, 0.2) 20%,
      rgba($color-white, 0.5) 60%,
      rgba($color-white, 0)
    );
    animation: shimmer 5s infinite;
    content: "";
  }
}

@mixin breakpoint($point) {
  @if ($point == xl) {
    @media (max-width: $xl) {
      @content;
    }
  } @else if ($point == l) {
    @media (max-width: $l) {
      @content;
    }
  } @else if ($point == m) {
    @media (max-width: $m) {
      @content;
    }
  } @else if ($point == s) {
    @media (max-width: $s) {
      @content;
    }
  }
}
