@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin transition-default {
    transition: all 0.3s ease-in;
}
@mixin buttonPrimary($borderRadius:0) {       
    background-color: $color-brown;
    border-radius: $borderRadius;
    color: $color-white;

    &:hover{
        @include transition-default;
        opacity: 0.8;
    }
}