@import 'shared/ui/styles';
@import 'shared/ui/hotel-header/ui/mixins.scss';

.header {
    &__title {
        @include hotelHeaderTitle;
        margin-top: 26px;
    }

    &__subtitle {
        @include hotelHeaderSubtitle;
        margin-top: 23px;
    }

    &__btn {
        width: fit-content;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: $font-inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;

        margin-top: 27px;

        &__elipce {
            width: 55px;
            height: 100%;
            background: rgba(0, 166, 153, 1);
            @include flexCenter;
            border-radius: 50%;
            margin-right: 8px;
        }
        &:hover  &__elipce  {
            scale: 1.05;
            transition: 0.3s ease-in-out;
        }
    }
}