@import 'shared/ui/styles';

.home-header {

    &__title {
        width: 470px;
        font-family: $font-raleway;
        font-size: 55px;
        font-weight: 700;
        line-height: 64.57px;
        text-align: left;

        margin-top: 26px;
    }
}