@import 'shared/ui/styles';

.home-header {
    width: 100%;
    height: 700px;  
     
    &__container {
        height: 100%;
        background-image: url('./images/hotel.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 626px auto;
        position: relative;
    }

    &__logo {
        font-family: $font-dancing-script;
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: $color-brown;

        margin-top: 59px;
    }

    &__title {
        width: 450px;
        font-family: $font-raleway;
        font-size: 55px;
        font-weight: 700;
        line-height: 64.57px;
        text-align: left;

        margin-top: 26px;
    }

    &__text {
        width: 261px;
        font-family: $font-raleway;
        font-size: 15px;
        font-weight: 500;
        line-height: 17.61px;
        text-align: left;

        margin-top: 23px;
    }

    &__btn {
        width: fit-content;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: $font-inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;

        margin-top: 27px;

        &-elipce {
            width: 55px;
            height: 100%;
            background: rgba(0, 166, 153, 1);
            @include flexCenter;
            border-radius: 50%;
            margin-right: 8px;
        }

        &:hover  &-elipce  {
            scale: 1.05;
            transition: 0.3s ease-in-out;
        }
    }
}