@import "shared/ui/styles";

.container {
  width: 100%;
  position: relative;

  &__name {
    @include interFont_20px;
    text-align: left;
    color: $color-black-light;

    @include breakpoint(m) {
      font-size: 16px;
    }
  }

  &__error {
    position: absolute;
    font-size: 12px;
    bottom: -20px;
    color: $color-red;
  }
}

.input {
  box-sizing: border-box;

  width: 100%;

  height: 65px;

  border: 0.5px solid $color-black-normal;
  margin-top: 10px;

  @include breakpoint(m) {
    height: 45px;
  }
}

.textarea {
  max-width: 100%;
  height: 300px;
  resize: none;

  @include breakpoint(m) {
    height: 150px;
  }
}
